* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
}

.nav-list {
    list-style-type: none;
    display: flex;
}