* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    line-height: 1.5;
    font-size: 18px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column; 
    gap: 32px;
}

.layout-container {
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
    background-color: #1F2937;
}

.header {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.main-content {
    display: flex;
}

.main-content .heading {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.main-content .text {
    color: #E5E7EB;
}

.main-content .image-content img {
    max-width: 400px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.content-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 32px;
}

.box {
    max-width: 200px;
}

.box img {
    width: 100%;
}

.quote-container {
    display: flex;
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.sign-up-content {
    display: flex;
}

.sign-up-button {
    background-color: #3882F6;
}

.footer {
    display: flex;
    background-color: #1F2937;
}