* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

.container {
    display: flex;
    flex-direction: column; 
}

.header {
    display: flex;
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.nav-list {
    list-style-type: none;
    display: flex;
}

.nav-list li a{
    text-decoration: none;
    color: #E5E7EB;
}

.main-content {
    display: flex;
}

.content-container {
    display: flex;
}

.quote-container {
    display: flex;
}

.sign-up-content {
    display: flex;
}

.footer {
    display: flex;
    background-color: #1F2937;
}